.bg
{
  background-image: url(/pictures/cinematic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 1080px;
}

.title{

font-size: 65px;
font-weight: bold;
color: floralwhite;
}

.header{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}

h2{
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: normal;
}

#h4
{
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  color: grey;
}

img
{
height: 300px;
}


    



